.vot-lang-select {
  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0);
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);

  > .vot-select {
    flex: 1 1 0;
    min-width: 0;

    > .vot-select-outer {
      width: 100%;
      max-width: none;
    }
  }

  &-icon {
    width: 32px;
    height: 32px;
    flex: 0 0 24px;
    color: rgb(var(--vot-primary-rgb));
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      fill: inherit;
      stroke: inherit;
    }
  }
}
