.vot-select {
  --vot-helper-theme-rgb: var(--vot-onsurface-rgb, 0, 0, 0);
  --vot-helper-theme: rgba(var(--vot-helper-theme-rgb), 0.87);
  --vot-helper-safari1: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.6);
  --vot-helper-safari2: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(
    --vot-font-family,
    "Aptos",
    "Segoe UI Variable",
    "Segoe UI",
    system-ui,
    sans-serif
  );
  font-size: 14px;
  font-weight: normal !important;
  line-height: 1.5;
  text-align: start;
  color: var(--vot-helper-theme);
  fill: var(--vot-helper-theme);

  &-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
    width: 120px;
    min-width: 0;
    min-height: 36px;
    padding: 0 10px !important;
    border: 1px solid var(--vot-border-color) !important;
    border-radius: var(--vot-radius-s) !important;
    background: rgba(var(--vot-helper-theme-rgb), 0.045);
    cursor: pointer;
    transition: border 0.2s !important;

    &:hover {
      border-color: var(--vot-border-color-hover) !important;
    }

    &[disabled="true"] {
      opacity: 0.5;
      cursor: default;

      &:hover {
        border-color: var(--vot-border-color) !important;
      }
    }
  }

  &-title {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: inherit;
  }

  &-arrow-icon {
    width: 20px;
    flex-shrink: 0;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
      fill: inherit;
      stroke: inherit;
    }
  }

  &-content-list {
    display: flex;
    flex-direction: column;

    .vot-select-content-item {
      padding: 9px 12px !important;
      border-radius: var(--vot-radius-s) !important;
      cursor: pointer;

      &:not([inert]):hover {
        background-color: rgba(var(--vot-onsurface-rgb), 0.07);
      }

      &[data-vot-selected="true"] {
        color: rgb(var(--vot-primary-rgb, 33, 150, 243));
        background-color: rgba(var(--vot-primary-rgb, 33, 150, 243), 0.12);

        &:hover {
          background-color: rgba(
            var(--vot-primary-rgb, 33, 150, 243),
            0.1
          ) !important;
        }
      }

      &[inert] {
        cursor: default;
        color: rgba(var(--vot-onsurface-rgb, 0, 0, 0), 0.38);
      }
    }
  }
}
